@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0 auto;
    padding: 0 auto;
    background-image: url("wallhaven-k7787d.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.image-profile {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 25%;
}

.name {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right: 30%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.h2 {
    margin: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
 .skills {
    padding: 0;
 }

 .skills li {
     padding-bottom: 20px;
}

#footer {
    display: flex;
    margin-top: 100px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: baseline;
}

.rs img{
    width: 40px;
    padding: 10px;
}

.rs:hover img {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

